/* style.css */


body {

	font-family: sans seriff, verdana, arial;
}



h1, h2, h3, h4, h5{

	color: green;
}



#asdf-page-title {

	text-align: center;

	border: 1px solid black;

	background-color: #d48d66;
	height: 5em;
}



a:hover {
	text-decoration: none;
	padding: 1px;
	border: 1px solid #000000; }


a {

	padding: 1px 2px 1px 2px;

	text-decoration: none;}



#asdf-author, #asdf-content, #asdf-description, #asdf-naming-convention, #asdf-version{
	
background-color: white;
	padding-left: 1em;
}



code {
	font-family: Courier;

	display: block;
	background-color:#e0e0e0;
}



.function-description code {
	padding: 1em;
}



.symbol-syntax{
	background-color: #bbffbb;

	border: 1px solid #d0d0d0;
	padding: 10px;
	font-family: Times;
	font-size: 14pt;

	/*background-color: #d48d66;*/
	/*color:green;*/
}